@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg,#07348e, #1549af );
  position:relative;
.open .hero {
  /* Adjust the width of OtherComponent when the sidebar is open */
  width: 40%; /* You can adjust the width value as needed */
}
  .wrapper {
    
    
    max-width: 2066px;
    height: 100%;
    margin: auto;
    
    z-index: 1;

    .textContainer {
      width: 100%;
      height: 110%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0px;
      z-index: 1;
      position:static;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        position:absolute;
        font-size: 40px;
        color: #3498db;
        letter-spacing: 0px;
        z-index: 1;
        left:657px;
        top:0px;
        
      }

      h1 {
        position:absolute;
        left:657px;
        bottom:522px;
        font-size: 32px;
        z-index: 1;

        @include mobile {
          font-size: 36px;
        }
      }
       .imageContainer {
   
          position: absolute;
          z-index:0;
          top:22px;
          left:625px;


          @include mobile {
            height: 50%;
            width: 100%;
            
            top: unset;
            bottom: 0;
          }

          img{
            
            
            object-fit: cover;
            width:360px;
          }
        }

      .triangle-container {
  position: absolute;
  left:0px;
  justify-content: center;
  width: 3290px; /* Adjust the size of the triangle container as needed */
  height: 57px; /* Adjust the size of the triangle container as needed */
  
  /* Center the triangle container */
}

.button {
  position: absolute;
  width: 357px; /* Adjust the size of the buttons as needed */
  height: 5px; /* Adjust the size of the buttons as needed */
  background-color: #807337; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

#button1 {
  top: 100px;
  left: 19.2%;
  
}

#button2 {
  top: 131px; /* Adjust the vertical position as needed */
  left: 19.2%; /* Adjust the horizontal position as needed */
  transform: rotate(60deg); /* Rotate the button by 60 degrees */
  margin-top:6px;
}

#button3 {
  top: 162px; /* Adjust the vertical position as needed */
  left: 19.2%; /* Adjust the horizontal position as needed */
  transform: rotate(-60deg); /* Rotate the button by -60 degrees */
  margin-top:12px;
}

      img {
        width: 50px;
        z-index: 1;
      }
    }
  }



  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}