@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg,#0c0c1d, #3498db );
  position: relative;
.open .hero {
  /* Adjust the width of OtherComponent when the sidebar is open */
  width: 80%; /* You can adjust the width value as needed */
}
  .wrapper {
    position:absolute;
    
    max-width: 1366px;
    height: 100%;
    margin: auto;
    left: 600px;
    z-index: 1;

    .textContainer {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      z-index: 1;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
        z-index: 1;
        
      }

      h1 {
        font-size: 78px;
        z-index: 1;

        @include mobile {
          font-size: 36px;
        }
      }

      .triangle-container {
  position: relative;
  width: 400px; /* Adjust the size of the triangle container as needed */
  height: 400px; /* Adjust the size of the triangle container as needed */
  margin: 100px auto; /* Center the triangle container */
}

.button {
  position: absolute;
  width: 100px; /* Adjust the size of the buttons as needed */
  height: 40px; /* Adjust the size of the buttons as needed */
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

#button1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#button2 {
  top: 88px; /* Adjust the vertical position as needed */
  left: 10%; /* Adjust the horizontal position as needed */
  transform: rotate(60deg); /* Rotate the button by 60 degrees */
}

#button3 {
  top: 88px; /* Adjust the vertical position as needed */
  left: 90%; /* Adjust the horizontal position as needed */
  transform: rotate(-60deg); /* Rotate the button by -60 degrees */
}

      img {
        width: 50px;
        z-index: 1;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 2;
    left:600px;
    z-index:0;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}