@import "../../app.scss";

.hero {
  height: 610px;
  overflow: hidden;
  background: linear-gradient(132deg,#21c469,#041e53 );
  position:relative;
.open .hero {
  /* Adjust the width of OtherComponent when the sidebar is open */
  width: 40%; /* You can adjust the width value as needed */
}
  .wrapper {
    
    display:flex;
    max-width: 2066px;
    height: 117%;
    margin: auto;
    
    z-index: 1;

    .textContainer {
      width: 100%;
      height: 110%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0px;
      z-index: 1;
      

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        
        font-size: 65px;
        color: #ffffff;
        max-width: fit-content;
        letter-spacing: 0px;
        z-index: 1;
        
        
        
      }
      .hero2 {
        position:absolute;
        left:40px;
        top:50px;

        h2 {
          width:max-content;
          
          top:84px;
        }
      }

      h1 {
        position:absolute;
        
        max-height:300px;
        bottom:-80px;
        font-size: 20px;
        width:623px;
        z-index: 1;
        left:12px;

        @include mobile {
          font-size: 36px;
        }
      }
       .imageContainer {
   
          position: absolute;
          z-index:0;
          top:-150px;
          left:860px;


          @include mobile {
            height: 50%;
            width: 100%;
            
            top: unset;
            bottom: 0;
          }

          img{
            
            
            object-fit: cover;
            width:630px;
          }
        }

      .triangle-container {
  position: absolute;
  left:-1012px;
  justify-content: center;
  width: 3270px; /* Adjust the size of the triangle container as needed */
  height: 101px; /* Adjust the size of the triangle container as needed */
  top:223px;
  
  /* Center the triangle container */
}

.button {
  position: absolute;
  width: 150px; /* Adjust the size of the buttons as needed */
  height: 48px; /* Adjust the size of the buttons as needed */
  background-color: #000000; /* Button background color */
  color: #fff700; /* Button text color */
  border: none;
  text-align: center;
  line-height: 2px;
  border-radius: 5px;
}

#button1 {
  top: 68px;
  left: 32.5%;
  
}

#button2 {
  top: 68px; /* Adjust the vertical position as needed */
  left: 38.9%; /* Adjust the horizontal position as needed */
  transform: rotate(60deg); /* Rotate the button by 60 degrees */
  
}

#button3 {
  top: 68px; /* Adjust the vertical position as needed */
  left: 44.9%; /* Adjust the horizontal position as needed */
  transform: rotate(-60deg); /* Rotate the button by -60 degrees */
  
}

      img {
        width: 50px;
        z-index: 1;
      }
    }
  }



  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}