@import "../../app.scss";

:root {
  --primary: #f5a091;
}



.navbar {
  height: 100px;
  background:#21c469;
  .wrapper {
    max-width: 993px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background:#21c469;;
    color: black;
    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .btn {
  background: #fffcd5;
  box-shadow: 4px 4px #ffe00b, 9px 9px #151515;
  color: #151515;
  text-transform: lowercase;
  border: solid 2px #151515;

  text-decoration: none;

  padding: 18px 32px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  cursor: pointer;
  overflow: hidden;
  transition-delay: 0s !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
  font-family: freight-sans-pro, sans-serif;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #151515;
  z-index: -1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn:hover::before {
  width: 100%;
  left: 0;
  right: unset;
}
.btn:hover {
  box-shadow: 0 0 #ffe00b, 0 0 #151515;
  color: white;
}


    button {
  display: flex;
  padding: 1.1rem 2.5rem 1.1rem 3.5rem;
  border-radius: 99rem;
  background-color: var(--primary);
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;

  font-size: 18px;
}

button .icon {
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

button .icon span {
  background: black;
  border-radius: 100%;
  padding: 0rem;

  width: 0rem;
  height: 0rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-180deg);

  transition: all 0.5s ease;
}

button:hover .icon span {
  transform: rotate(0deg);

  border-radius: 100%;
  padding: 0.6rem;
  width: 0.9rem;
  height: 0.9rem;
}

    .social {
      display: flex;
      gap: 20px;
      left:1293px;
      position:absolute;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}