@import "../../app.scss";

:root {
  --primary: #f5a091;
}



.navbar {
  height: 100px;
  background:#21c469;
  .wrapper {
    max-width: 993px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background:#21c469;;
    color: black;
    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    button {
  display: flex;
  padding: 1.1rem 2.5rem 1.1rem 3.5rem;
  border-radius: 99rem;
  background-color: var(--primary);
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;

  font-size: 18px;
}

button .icon {
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

button .icon span {
  background: black;
  border-radius: 100%;
  padding: 0rem;

  width: 0rem;
  height: 0rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-180deg);

  transition: all 0.5s ease;
}

button:hover .icon span {
  transform: rotate(0deg);

  border-radius: 100%;
  padding: 0.6rem;
  width: 0.9rem;
  height: 0.9rem;
}

    .social {
      display: flex;
      gap: 20px;
      left:1293px;
      position:absolute;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}