@import "../../app.scss";

.hero {
  height: inherit;
  overflow: hidden;
  background: linear-gradient(132deg,#21c469,#041e53 );
  position:relative;
.open .hero {
  /* Adjust the width of OtherComponent when the sidebar is open */
  width: 40%; /* You can adjust the width value as needed */
}
  .wrapper {
    
    display:flex;
    flex-direction: row-reverse;
    max-width: 2066px;
    height: 117%;
    margin: auto;
    
    z-index: 1;

    .textContainer {
      width: 90%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0px;
      z-index: 1;
      

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h1 {
        
        
        max-height:300px;
        bottom:-120px;
        font:inherit;
        font-size: 19px;
        width:581px;
        line-height:21px;
        letter-spacing:3px;
        z-index: 1;
        left:12px;

        @include mobile {
          font-size: 36px;
        }
      }

      h2 {
        
        font-size: 56px;
        color: #FFA;
        max-width: fit-content;
        letter-spacing: -3px;
        z-index: 1;
        
        
        
      }
      .hero2 {
        
        
        top:50px;

        h2 {
          width:max-content;
          
          top:84px;
        }
      }

      
       

      .triangle-container {
  
  
  /* Center the triangle container */
}

.button {
  position: absolute;
  width: 180px;
  /*Adjustthesizeofthebuttonsasneeded*/height: 40px;
  /*Adjustthesizeofthebuttonsasneeded*/background-color: #000000;
  /*Buttonbackgroundcolor*/color: #fff942;
  /*Buttontextcolor*/border: solid 1px;
  font-weight: 600;
  text-align: center;
  line-height: 2px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#button1 {
  top: 68px;
  left: 32.5%;
  
}

#button2 {
  top: 68px; /* Adjust the vertical position as needed */
  left: 38.9%; /* Adjust the horizontal position as needed */
  transform: rotate(60deg); /* Rotate the button by 60 degrees */
  
}

#button3 {
  top: 68px; /* Adjust the vertical position as needed */
  left: 44.9%; /* Adjust the horizontal position as needed */
  transform: rotate(-60deg); /* Rotate the button by -60 degrees */
  
}

      img {
        width: 50px;
        z-index: 1;
      }
    }
    .imageContainer {
   
          
          z-index:0;
          top:-76px;
          left:853px;


          @include mobile {
            height: 50%;
            width: 100%;
            
            top: unset;
            bottom: 0;
          }

          img{
            
            
            object-fit: cover;
            width:600px;
          }
        }
  }



  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}