html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #07348e;
  color: lightgray;
}

.app {
  transition: margin 0.5s; /* Apply a transition for smooth animation */
}

.open {
  /* Adjust the width of the App component when the sidebar is open */
  margin-left: 250px; /* You can set the width you want for the open state */
}
.main-content {
  margin-left: 260px; /* Add margin to accommodate the sidebar width */
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}